.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
myenv
.venv
instance
backend/instance
frontend/node_modules
frontend/dist
backend/__pycache__
backend/app/__pycache__
backend/app/conf/__pycache__
backend/app/form/__pycache__
backend/app/model/__pycache__
backend/test_case/__pycache__
app/__pycache__
app/conf/__pycache__
app/form/__pycache__
app/model/__pycache__
test_case/__pycache__
